<div class="">
    <nav id="AccessibleNav" role="navigation" class="dt-sc-flex-space-between  align-center" data-menu="dt-main-menu">
        <div class="row w-100">
            <div class="col-12  col-md-2">
                <img src="./assets/images/logo.png" class="img">
            </div>
            <div class="col-md-8">
                <ul class="dt-sc-list-inline  dt-desktop-menu dt-nav" data-menu="dt-main-menu" data-aos="fade-in">
                    <li class="0 text-menu top-level-link dt-sc-child active">
                        <a href="/" class="  dt-sc-nav-link ">
                            <span>
                                Home
                            </span>
                        </a>
                    </li>
                    <li class="0 text-menu
                           top-level-link
                            dt-sc-child ">
                        <a href="" class="  dt-sc-nav-link ">
                            <span>
                                About Us
                            </span>
                        </a>
                    </li>
                    <li class="0 text-menu
                    top-level-link
                     dt-sc-child ">
                        <a href="" class="  dt-sc-nav-link ">
                            <span>
                                Blog
                            </span>
                        </a>
                    </li>
                    <li class="0 megaProduct top-level-link has-mega-menu dt-sc-primary
                            menu-item-has-children">
                        <a href="" class="mega-menu dt-sc-nav-link ">
                            <span>
                                Categories
                            </span>
                        </a>
                    </li>
                    <li class="0 megaProduct top-level-link has-mega-menu dt-sc-primary
                    menu-item-has-children">
                        <a href="" class="mega-menu dt-sc-nav-link ">
                            <span>
                                Add to Cart
                            </span>
                        </a>
                    </li>
                    <li class="0 text-menu
                    top-level-link
                     dt-sc-child ">
                        <a href="" class="  dt-sc-nav-link dropdown">
                            <span>
                                Add to Favourite
                            </span>
                        </a>
                    </li>
                    <li class="0 text-menu
                           top-level-link
                            dt-sc-child ">
                        <a href="" class="  dt-sc-nav-link dropdown">
                            <span>
                                ContactUs
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 d-flex justify-content-end m-auto">
                <button class="btn btn-outline-light mx-2">Login</button>
                <button class="btn btn-outline-light">Resigtration</button>
            </div>
        </div>
    </nav>
</div>