<div class="row m-0">
    <div class="col-12 p-0">
        <div>
            <h2 class="title h2 book-line text-center">
                NEW ARRIVALS
            </h2>
        </div>
    </div>
    <div class="container mt-2">
        <div class="tabs">
            <div class="tablinks active"> All
            </div>
            <div class="tablinks"> History
            </div>
            <div class="tablinks"> Fantacy
            </div>
            <div class="tablinks"> Romance
            </div>
        </div>
    </div>

    <div class="row m-0 w-100">
        <div class="col-3">
            <img src="./assets\images\book.png" class="m-3 imgani" style="width:90%;">
            <div class="text-center">
                <span class="d-block">Book Title</span>
                <span class="d-block">Author</span>
                <span class="d-block text-danger">$Price</span>
                <button class="btn btn-danger">Add To cart</button>
            </div>
        </div>
        <div class="col-3">
            <img src="./assets\images\book.png" class="m-3" style="width:90%;">
            <div class="text-center">
                <span class="d-block">Book Title</span>
                <span class="d-block">Author</span>
                <span class="d-block text-danger">$Price</span>
                <button class="btn btn-danger">Add To cart</button>
            </div>
        </div>
        <div class="col-3">
            <img src="./assets\images\book.png" class="m-3" style="width:90%;">
            <div class="text-center">
                <span class="d-block">Book Title</span>
                <span class="d-block">Author</span>
                <span class="d-block text-danger">$Price</span>
                <button class="btn btn-danger">Add To cart</button>
            </div>
        </div>
        <div class="col-3">
            <img src="./assets\images\book.png" class="m-3" style="width:90%;">
            <div class="text-center">
                <span class="d-block">Book Title</span>
                <span class="d-block">Author</span>
                <span class="d-block text-danger">$Price</span>
                <button class="btn btn-danger">Add To cart</button>
            </div>
        </div>
    </div>

</div>