.box{
    border: 1px solid #24245a;
    line-height: normal;
    text-decoration: none;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    opacity: 0.8;
    padding: 15px;
    margin: 22px;

}