.opacity{
    opacity: 0.6;
}
.font{
    top: 45%;
    left: 30%;
    // color: red;
    margin: 0;
    color: #ffffff;
    font-family: "PT Serif", serif;
    font-size: 27px;
    font-style: italic;
    line-height: 1;
}